services:
  db:
    build:
      context: .
      dockerfile: Dockerfile.db
    hostname: db
    environment:
      - TZ=Asia/Tokyo
      - POSTGRES_USER=${POSTGRES_USER:?POSTGRES_USER is not set}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:?POSTGRES_PASSWORD is not set}
      - POSTGRES_DB=${POSTGRES_DB:?POSTGRES_DB is not set}
    volumes:
      - type: volume
        source: hono_webauthn_db_data
        target: /var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
  redis:
    image: redis:7-alpine
    ports:
      - "${REDIS_PORT:-6379}:6379"

volumes:
  hono_webauthn_db_data:
  hono_webauthn_app_nodemodules:
